{% extends "base.html" %}

{% block title %}
Proxy
{% endblock title %}

{% block content %}
<p>A proxy is required since Leboncoin.fr seems to be blocking Amazon Web Services servers.</p>
<p>You can choose a French HTTPS from the list below:</p>

<ul>
  <li><a href="https://www.xroxy.com/proxylist.php?type=&ssl=ssl&country=FR">https://www.xroxy.com/proxylist.php?type=&ssl=ssl&country=FR</a></li>
  <li><a href="http://spys.ru/free-proxy-list/FR/">http://spys.ru/free-proxy-list/FR/</a></li>
</ul>


{% endblock content %}
